/* Global Values - Start ----------------------------------------------------------*/
/* Variables - Start ------------------------------------------------------ */
:root {
    --margin-title: 40px;
    --main-color: #10cab7;
    --color-title-section: #ebeced;
    --background-color-title-section: #fafafa;
    --background-color-footer: #2c4755;
    --main-line-height: 1.7;
    --main-transition: 0.3s;
}
/* Variables - End ----------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
    cursor: default;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
/* Media Queries - Start ----------------------------------------------------------*/
@media (min-width: 768px) {
    div.container {
        width: 750px;
    }
}   
@media (min-width: 992px) {
    div.container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    div.container {
        width: 1170px;
    }
}
/* Media Queries - End ----------------------------------------------------------*/
/* Global Values - End ----------------------------------------------------------*/

/* Header - Start -------------------------------------------------------------------- */
header > div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
div.logo {
    width: 80px;
}
div.lines {
	width: 30px;
    direction: rtl;
    cursor: pointer;
}
div.lines > div {
	display: block;
	height: 2px;
	background-color: black;
	margin-bottom: 6px;
}
div.lines > div.short{
    width: 60%;
    transition: var(--main-transition);
}
label.nav-menu {
    position: relative;
}
label.nav-menu input {
    display: none;
}
label.nav-menu input:checked ~ div.lines div.short {
    width: 100%;
}
nav.dropdown-menu {
    gap: 2%;
	position: absolute;
	top: 55px;
	right: 0;
	background-color: var(--background-color-footer);
    text-transform: capitalize;
    transition: var(--main-transition);
    border-radius: 10px;
    z-index: 5;
    display: none;
    opacity: 0;
}
nav.dropdown-menu div.dropdown-box {
    width: 20vw;
}
label.nav-menu input:checked + nav.dropdown-menu {
	display: flex;
	opacity: 0.9;
	padding: 10px;
}
nav.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
nav.dropdown-menu ul.dropdown__main-content::after {
	content: "";
	position: absolute;
	top: -70px;
	right: 9px;
	border: 15px solid black;
	border-color: transparent transparent black transparent;
}
nav.dropdown-menu h4 {
	margin: 12px;
	color: rgb(188, 188, 188);
	font-weight: 300;
	font-size: 15px;
}
nav.dropdown-menu li {
	padding: 12px;
	border-radius: 10px;
    cursor: pointer;
}
nav.dropdown-menu li:hover {
	background-color: #656565;
}
nav.dropdown-menu li:hover a {
    color: var(--main-color);
}
nav.dropdown-menu li a {
    text-decoration: none;
    color: white;
    transition: var(--main-transition);
    background-color: transparent;
	width: 100%;
	height: 100%;
	display: block;
}
@media (max-width: 767px) {
    nav.dropdown-menu {
        width: 80vw;
    }
    nav.dropdown-menu div.dropdown-box {
        flex: 1;
    }
}
/* Header - End -------------------------------------------------------------------- */
/* Landing Section - Start ---------------------------------------------------------- */
section.landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    background-position: center center;
}
div.landing__text {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}
h1.landing__greet {
    color: var(--main-color);
    width: 320px;
    font-weight: 800;
}
p.landing__intro {
    width: 340px;
    color: #94ded7;
    margin: 0;
    line-height: var(--main-line-height);
    font-weight: bold;
}
/* Landing Section - End ---------------------------------------------------------- */
/* Features Section - Start ----------------------------------------------------------*/
section.features {
	width: 90%;
	margin: 50px auto;
	text-align: center;
	display: grid;
	gap: 2%;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section.features > div {
	padding: 10%;
	box-shadow: 2px 1px 2px 2px #eee;
}
section.features > div > a > i {
    color: var(--main-color);
    font-size: 35px;
}
.features > div > h3 {
    text-transform: capitalize;
}
@media (min-width:375px) and (max-width: 767px) {
    section.features {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
    }
    section.features div.feature__column-third {
        grid-column: 1 / 3;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Features Section - End ----------------------------------------------------------*/

/* Services Section - Start ----------------------------------------------------------*/
section.section {
    position:relative;
}
div.section__title {
    position: relative;
}
h1 + p.title--motto {
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translatex(-50%);
	font-size: 1.2em;
    letter-spacing: -1px;
}
p.title--motto span.motto--first-letter {
    text-transform: capitalize;
}
h1.section__heading {
    color: var(--color-title-section);
    margin: var(--margin-title) auto;
    font-size: 9em;
    text-align: center;
    font-weight: bold;
    letter-spacing: -13px;  
}
div.list--items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 2%;
	margin: auto 30px;
}
section.services i {
    font-size: 30px;
}
section.services article.service {
	display: flex;
	height: 50%;
}
article.service div {
    margin: 8px;
}
section.section h3 {    /*component*/
    margin: 0;
	margin-bottom: 20px;
	text-transform: capitalize;
	font-size: 15px;
}
div.text-styling p {     /*component*/
    font-size: 10px;
    line-height: var(--main-line-height);
}
section.services i {
    color: var(--main-color);
}
section.services article.service--ui-ux h3 {
    text-transform: uppercase;
}
section.services div.service__photo {
	background-image: url(../Images/services-image\ \(2\).jpg);
	background-size: cover;
	margin: 10px 35px 35px;
    position: relative;
    height: 250px;
}
section.services div.service__photo::after {    /*vertical bar*/
    content: "";
    position: absolute;
    top: -25px;
    right: -25px;
    width: 100px;
    height: calc(100% + 50px);
    background-color: var(--background-color-footer);
    z-index: -1;
}
@media (max-width: 992px) {
    h1.section__heading {
        font-size: 6em;
    }
    h1 + p.title--motto {
        font-size: 1em;
        text-align: center;
    }
    div.services__list {
        text-align: center;
    }
    section.services article.service {
        display: block;
    }
    section.services div.service__photo {
        margin: 35px 35px 35px;
    }
}
@media (min-width: 375px) and (max-width: 992px) {
    div.services__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
    }
    section.services div.service__photo {
        grid-column: 1 / 3;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* @media (min-width: 768px) and (max-width:992px) {
    section.services div.service__photo {
        margin: 35px 35px 35px;
    }
} */
/* Services Section - End ----------------------------------------------------------*/
/* Portfolio Section - Start ----------------------------------------------------------*/
section.portfolio, section.contact {
    background-color: #fafafa;
    padding-bottom: 10%;
}
div.portfolio__titles {
    position: relative;
}
h1 + p.portfolio__motto {
    top: 60%;
	left: 50%;
}
div.portfolio__project-photo {
    background-image: url("via.https://placeholder.com/300x300");
    background-size: cover;
}
div.portfolio__project-photo {
    background-image: url(../Images/project-photo.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}
div.portfolio__project-content {
    padding: 15px;
    background-color: white;
}
@media (min-width:375px) and (max-width: 767px) {
    div.portfolio__projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
    }
    div.portfolio__projects article.portfolio__project--third {
        grid-column: 1 / 3;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Portfolio Section - End ----------------------------------------------------------*/

/* About Section - Start ----------------------------------------------------------*/
div.about__columns {
    display: flex;
    gap: 4%;
}
article.about__column--right {
	margin-left: 100px;
	grid-area: 2/4;
	text-align: justify;
}
div.about--photo {
    width: 70%;
    height: 250px;
    background-color: #f6f6f6;
    position: relative;
    box-shadow: -3px 3px 5px 2px #eee;
}
div.about__photo--accessory {
	position: absolute;
	top: -15%;
	left: -7%;
	width: 30%;
	height: 130%;
	background-color: #fafafa;
	z-index: -1;
}
div.about--photo::after {
	content: "";
	position: absolute;
	bottom: 20%;
	right: -25px;
	width: 35%;
	height: 90%;
	background-color: var(--main-color);
	z-index: -1;
}
div.about--photo::before {
	content: "";
	position: absolute;
	bottom: 20%;
	right: -40%;
	width: 37%;
	height: 25%;
	background-color: var(--main-color);
	z-index: -1;
}
h3.about__summery-text {
    padding-bottom: 25px;
    line-height: var(--main-line-height);
}
p.about__description-text {
    position: relative;
}
p.about__description-text::after {
	content: "";
	position: absolute;
	top: -17px;
	left: 0;
	width: 50%;
	height: 2px;
	background-color: var(--main-color);
}
@media (max-width: 767px) {
    div.about__columns {
        display: block;
    }
    article.about__column--right {
        margin: 40px auto;
    }
}
/* About Section - End ----------------------------------------------------------*/
/* Contact Section - Start ----------------------------------------------------------*/
div.contact__content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
div.contact__content h1 {
	font-size: 2.5em;
	font-weight: 800;
	letter-spacing: -2px;
}
h1.contact__mail-text {
    color: var(--background-color-footer);
}
h1.contact__mail-text::first-letter {
    text-transform: capitalize;
}
h1.contact__mail-address {
    padding-left: 30px;
}
h1.contact__mail-address a {
    text-decoration: none;
    color: var(--main-color);
}
div.contact__social {
    display: flex;
    gap: 3%;
    padding-left: 60px;
}
section.contact p.contact__text-logo::first-letter {
    text-transform: capitalize;
}
div.contact__social-logos {
    line-height: 2;
}
div.contact__social-logos i {
    color: var(--background-color-footer);
}
@media (max-width: 767px) {
    div.contact__content h1 {
        font-size: 1.5em;
    }
    div.contact__social {
        display: block;
    }
}
/* Contact Section - End ----------------------------------------------------------*/
/* Footer - Start ----------------------------------------------------------*/
footer.leon-copyright {
    background-color: var(--background-color-footer);
    height: 60px;
    color: white;
}
div.footer__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
}
div.footer__container span {
    color: var(--main-color);   
}
/* Footer - End ----------------------------------------------------------*/